<!DOCTYPE html>
<html>
  <head>
    <title>Edit Employee</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/employees">Employee List</a></h3>
      <h1>Edit Employee</h1>
      <form action="/employees/update/<%= employee._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" value="<%= employee.name %>" /></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><textarea name="address"><%= employee.address %></textarea></td>
            </tr>
            <tr>
              <td>Position</td>
              <td><input type="text" name="position" value="<%= employee.position %>" /></td>
            </tr>
            <tr>
              <td>Salary</td>
              <td><input type="number" name="salary" value="<%= employee.salary %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Update</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
